@{
    ViewBag.Title = "Home Page";
}
<div id="map">

</div>
@section scripts
{
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=cb156e4ebf0def93e395415dcb2024c1"></script>
    <script type="text/javascript">
        $(function() {
            // ReSharper disable once PossiblyUnassignedProperty
            var map = new window.AMap.Map('map',
                {
                    resizeEnable: true,
                    zoom: 9,
                    center: [120.106884, 30.217469]
                });
            //var mymaker = L.marker([120, 30]).addTo(map).bindPopup("<b>这里是中国黄山</b>").openPopup();

            var mymap = L.map("map",
                {
                    center: [120.106884, 30.217469],
                    zoom:15
                });
        });
    </script>
}