@{
    ViewBag.Title = "地图展示";
}

@section Style{
    <link href="~/Content/Site.css" rel="stylesheet" />
}
<div id="map">
</div>

<div class="province"></div>
<div class="city"></div>
<div class="county"></div>
<div class="town"></div>
<div class="village"></div>

@section Scripts
{    
    <script type="text/javascript" src="~/Scripts/TianDiTu/Load.js"></script>
    <script type="text/javascript" src="~/Scripts/JqueryExtends.js"></script>

    <script type="text/javascript">
        $(function () {
            //添加图层
            var cun = L.marker(L.latLng(30.2123, 120.25625), { icon: L.icon({ iconUrl: "http://ovsqnadmr.bkt.clouddn.com/p1.png", iconAnchor: new L.Point(9, 9) }) });
            map.addLayer(cun);//map是在load里面创建好的
            map.setView([30.277862378, 120.150445125], 10);//这里是设置视野

            $(".province").show().html("<b>浙江省</b>").click(function () {
                alert("haha");
            });

            //$.ajax({
            //    type: "post",
            //        url: "http://106.14.95.128:8093/api/AppWarnEvent/RouteGetWarnListByWarnId",
            //        dataType: "json",
            //        data: { "WarnId": wid },
            //        success: function (data) {
            //            var haha = eval(data);
            //            $(".warnlist").empty();
            //            $.each(haha, function (i, item) {
            //                $(".warnlist").append("<li data-warnid='" + item.id + "'>" + "预警等级:" + item.warnLevel + "级" + item.warnMessage + "</li>");
            //            });
            //            $("#sidebar h4").append("<a class='aareturn'>返回</a>");

            //            $(".aareturn").on("click", function () {
            //                $(".aareturn").empty();
            //                $(".warnlist").empty();
            //                GetWarnEvent();
            //            });
            //        }
            //});
        });
    </script>
}