#map {
    position: inherit;
}

.province, .city, .county, .town, .village {
    display: none;
    position: absolute;
}

.province {
    width: 600px;
    height: 50px;
    border: 1px solid #fff;
    top:60px;
    left:100px;
    z-index:999;
    background:#fff;
    line-height:50px;
    padding:0 20px;
    cursor:pointer;
}